.lang-bar {
    .lang {
        display: flex;
        align-items: center;
        margin-top: 13px;
        justify-content: flex-end;
        font-size: 13px;
        color: #a8a8a8;
        font-family: 'Cairo', sans-serif;
        font-weight: 600;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $seccolor;
        }

        img {
            margin-right: 8px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}

html[dir="ltr"] .lang-bar {
    .lang {
        img {
            margin-left: 8px;
            margin-right: 0;
        }
    }
}

.Sec-bar {
    margin-top: 16px;

}

.logo {
    @media (max-width: 767px) {
        text-align: center;
        display: block;
    }
}

.sec-bar {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 27px;

    @media (max-width: 767px) {
        padding-bottom: 10px;
    }
}

.user-navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 767px) {
        justify-content: center;
        margin-top: 20px;
    }
}

.sign_div {
    a {
        color: $maincolor;
        font-size: 17px;
        cursor: pointer;

        &>i {
            @include transition(all 0.3s ease-in-out);
        }
    }

    &:hover {
        a {
            &>i {
                color: $seccolor
            }
        }

        .items {
            animation: vibe 0.7s;
        }
    }

    @media (max-width: 991px) {
        a {
            font-size: 20px;
        }
    }

}

.shopcart-icon {
    position: relative;
}

.price {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $maincolor;
    margin-right: 7px;

    &:hover {
        color: $maincolor;
    }

    @media (max-width: 991px) {
        display: none;
    }
}

html[dir="ltr"] .price {
    margin-left: 7px;
    margin-right: 0;
}

.cart-anchor {
    display: flex;
    align-items: center;
}

.items {
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: $seccolor;
    width: 14px;
    height: 14px;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    line-height: 14px;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

html[dir="ltr"] .items {
    right: 0;
    left: 13px;
}


.search-icon {
    margin: 0 20px;
    display: none;
    font-size: 20px;
    @include transition(all 0.3s ease-in-out);

    @media (max-width: 991px) {
        display: block;
    }

    &:hover {
        color: $seccolor
    }
}

.menu-btn {
    display: none;
    font-size: 20px;
    @include transition(all 0.3s ease-in-out);

    @media (max-width: 991px) {
        display: block;
    }

    &:hover {
        color: $seccolor
    }
}

.fav-icon {
    margin-right: 20px;
    margin-left: 24px;
}

.drop-menu {
    position: absolute;
    width: 132px;
    height: auto;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    z-index: 9;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);

    &:before {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 6px;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        top: -12px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

    li {
        width: 100%;
        border-bottom: 1px solid #ededed;
        padding-bottom: 8px;
        margin-bottom: 6px;

        &:last-child {
            border-bottom: none;
        }
    }

    a {
        color: $maincolor;
        @include transition(all 0.3s ease-in-out);
        font-size: 14px;

        &:hover {
            color: $seccolor;
        }
    }

    @media (max-width: 991px) {
        top: 28px;
    }
}

.user-icon {
    position: relative;

    &:hover {
        .drop-menu {
            visibility: visible;
            opacity: 1;
        }
    }
}