.banners-sec {
    margin-top: 38px;

    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 30px;
    }

    @media (max-width: 767px) {
        margin-top: 20px;
    }
}

.banners {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1199px) {
        flex-direction: column;
    }
}

.banner {
    position: relative;
    overflow: hidden;

    @media (max-width: 1199px) {
        margin-bottom: 15px;
    }

    img {
        @include transition(all 0.5s ease-in-out);
    }

    &:hover {
        img {
            transform: scale(1.2) rotate(5deg);
        }

        .banner-anchor {
            &:after {
                width: 100%;
            }
        }
    }
}

.banner-info {
    position: absolute;
    top: 50%;
    left: 43px;
    text-align: left;
    z-index: 6;
    cursor: pointer;

    @media (max-width: 767px) {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
}

.banner-head {
    font-family: Frutiger-bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
    cursor: auto;

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.banner-anchor {
    color: #fff !important;
    font-size: 16px;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 767px) {
        font-size: 15px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: #6e7bb5;
        right: 50%;
        transform: translateX(50%);
        bottom: 0px;
        @include transition(all 0.3s ease-in-out);

        @media (max-width: 767px) {
            width: 100%;
            bottom: -5px;
            background-color: #fff;
            height: 1px;
        }
    }

    &:hover {
        color: #fff;
    }
}